<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <main>
      <h1>Gerenciamento de Produtos</h1>
      <a href="/form" class="btn btn-primary">Cadastrar produto</a>
      </br>
      <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col">Preço</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% products.map((product) => { %>
            <tr>
              <td><%= product.id %></td>
              <td><%= product.name %></td>
              <td><%= product.descricao %></td>
              <td>R$<%= product.preco %></td>
              <td><%= product.quantidade %></td>
              <td>
                <a value="Deletar" class="btn btn-danger" href="/delete/produtos/<%= product.id %>">Deletar</a>
              </td>
            </tr>
            <% }) %>
            
          </tbody>
        </table>
      </div>
    </main>
    <footer>
        <p></p>
    </footer>
  </body>
</html>